.places {
  max-width: 984px;
  margin: 92px auto 0;
  padding-left: 48px;
  padding-right: 48px;
}

@media (max-width: 1023px) {
  .places {
    margin: 88px auto 0;
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .places {
    margin: 64px auto 0;
    padding-left: 0;
    padding-right: 0;
  }
}
