.cover__subtitle {
  max-width: 360px;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.22;
  color: white;
  margin: 32px 0 0;
  z-index: 1;
}

@media (max-width: 767px) {
  .cover__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
  }
}
